<!-- With a pole, it plans in 8.67 sec --> 
<launch>

<!--  <node pkg="topic_tools" type="throttle" name="throttle_joint_states" args="messages joint_states 0.5" /> -->

  <node pkg="sbpl_two_arm_planner_node" type="requestPlan" name="request_plan" output="screen" respawn="false" >

    <param name="start_x" value="0.7" />
    <param name="start_y" value="0.09" />
    <param name="start_z" value="0.95" />
    <param name="start_r" value="0.0" />
    <param name="start_p" value="0.0" />
    <param name="start_y" value="0.0" />

    <!-- works in freespace
    <param name="goal_x" value="0.64" />
    <param name="goal_y" value="-0.26" />
    <param name="goal_z" value="1.1" />
    -->

    <param name="goal_x" value="0.62" />
    <param name="goal_y" value="-0.26" />
    <param name="goal_z" value="1.06" />
    
    <param name="goal_roll" value="0.0" />
    <param name="goal_pitch" value="0.0" />
    <param name="goal_yaw" value="0.0" />

    <param name="raise_torso" value="true" />

    <param name="right_arm_pose_on_object_x" value="0.00" />
    <param name="right_arm_pose_on_object_y" value="0.00" />
    <param name="right_arm_pose_on_object_z" value="0.12" />

    <param name="left_arm_pose_on_object_x" value="0.0" />
    <param name="left_arm_pose_on_object_y" value="0.0" />
    <param name="left_arm_pose_on_object_z" value="-0.12" />

  </node>

</launch>
