<launch>

  <node pkg="sbpl_arm_planner_node" type="sbpl_arm_planner_node" name="sbpl_left_arm" output="screen" respawn="false" >

    <rosparam command="load" file="$(find sbpl_arm_planner)/config/pr2_left_arm.yaml" />

    <param name="planner/arm_description_file" textfile="$(find sbpl_arm_planner)/config/pr2_left_arm.cfg" />
    <param name="planner/motion_primitive_file" textfile="$(find sbpl_arm_planner)/config/pr2.mprim" />
  </node>

</launch>
