<launch>

  <node pkg="sbpl_full_body_tests" name="nav_test" type="nav_test" output="screen" >
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/kitchen_locations_extended.yaml" />
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/kitchen_experiments.yaml" />
    <param name="known_objects_filename" value="$(find sbpl_full_body_tests)/env/kitchen.env" />
    <param name="trajectory_folder_path" value="$(find sbpl_full_body_tests)/results" />
    <param name="demonstrated_paths_folder" value="$(find sbpl_full_body_tests)/demonstrations" />
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" output="screen" /> -->
  
</launch>
