<launch>

  <node pkg="sbpl_full_body_tests" name="sbpl_full_body_experiment" type="sbpl_full_body_tests" output="screen" >
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/big_rand_loc1.yaml" />
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/big_rand_exp1.yaml" />
<!-- <rosparam command="load" file="$(find sbpl_full_body_tests)/config/completeExperiment.yaml" /> -->
    <param name="known_objects_filename" value="$(find sbpl_full_body_tests)/env/raised_shelves.env" />
  </node>

</launch>
