<launch>

  <node pkg="sbpl_full_body_tests" name="sbpl_full_body_experiment" type="sbpl_full_body_tests" output="screen" >
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/demonstration_loc1.yaml" />
    <rosparam command="load" file="$(find sbpl_full_body_tests)/config/demonstration_exp1.yaml" />
    <param name="known_objects_filename" value="$(find sbpl_full_body_tests)/env/demonstrated.env" />
    <param name="demonstrated_paths_folder" value="$(find sbpl_full_body_tests)/demonstrations" />
  </node>

</launch>
